body {
  height: 100vh; }

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap; }
  nav ul li {
    justify-content: center;
    margin: 15px;
    padding: 15px;
    border: 1.5px solid white;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    background-color: #0f6dcc; }
    nav ul li a {
      text-decoration: none;
      color: white;
      font-size: 20px; }
    nav ul li a:hover {
      color: #ffee00; }
  nav ul li:hover {
    background-color: grey; }

@media (min-width: 360px) {
  ul {
    justify-content: center; } }

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.bor {
  border: 1.5px solid black;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  background-color: #0f6dcc;
  color: white;
  text-align: center;
  margin-bottom: 2px; }

.bor:hover {
  background-color: grey; }

.bor--hover {
  color: white;
  text-decoration: none; }

.bor--hover:hover {
  color: #ffee00; }

.mar {
  margin: 5px;
  padding: 5px; }

#cen {
  text-align: center; }

.title {
  border: 1.5px solid black;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  background-color: #0f6dcc;
  color: white;
  text-align: center;
  margin-bottom: 2px;
  font-size: 25px;
  font-weight: bold; }

.title:hover {
  color: #ffee00;
  background-color: grey; }

.footer {
  position: relative;
  margin-top: 5px 0px;
  clear: both;
  background: #001DFF;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; }

.answ {
  font-size: 25px;
  color: blue; }

/*style 404*/
/*Aplicando SASS al proyecto*/
/*aplicando SCSS a proyecto en un Backoff*/
/*VARIABLES*/
.prueba1 {
  background-image: url("../img/fondo.png");
  height: 100vh; }

/*Condicionales*/
.prueba2 {
  border: 2px solid black;
  background-color: rgba(255, 0, 0, 0.781);
  font-size: 66.66667px;
  text-align: center;
  color: white; }

/*bucles*/
/*sin incluir la 4ta linea*/
.Prueba3-1 {
  font-size: 40px;
  color: whitesmoke;
  text-align: center; }

.Prueba3-2 {
  font-size: 80px;
  color: whitesmoke;
  text-align: center; }

.Prueba3-3 {
  font-size: 120px;
  color: whitesmoke;
  text-align: center; }

/*incluyendo la 4ta linea*/
.Prueba4-1 {
  width: 100%;
  color: whitesmoke;
  font-size: 1;
  text-align: center; }

.Prueba4-2 {
  width: 200%;
  color: whitesmoke;
  font-size: 2;
  text-align: center; }

.Prueba4-3 {
  width: 300%;
  color: whitesmoke;
  font-size: 3;
  text-align: center; }

.Prueba4-4 {
  width: 400%;
  color: whitesmoke;
  font-size: 4;
  text-align: center; }

/* Aplicando EACH*/
.Baloncesto {
  background-image: url("../img/Baloncesto.jpg");
  height: 200px;
  color: #2fff5c;
  text-align: center;
  font-size: 25px; }

.futbol {
  background-image: url("../img/futbol.jpg");
  height: 200px;
  color: #2fff5c;
  text-align: center;
  font-size: 25px; }

.beisbol {
  background-image: url("../img/beisbol.jpg");
  height: 200px;
  color: #2fff5c;
  text-align: center;
  font-size: 25px; }

/*Aplicando MAPAS*/
.fondo--baloncesto {
  background-color: blue; }

.fondo--futbol {
  background-color: green; }

.fondo--beisbol {
  background-color: orange; }

/*extend*/
.prueba, .prueba-extend {
  color: white;
  text-align: center; }

.prueba-extend {
  font-style: italic;
  text-decoration: underline; }

/*noticias*/
.noticias {
  text-decoration: none;
  color: yellow;
  font-size: 50px; }
