body {
    height:100vh;
    
}
nav {ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    li{
    justify-content: center;
     margin: 15px;
     padding: 15px;
     border: 1.5px solid white;
     -moz-border-radius: 9px;
     -webkit-border-radius:9px;
     background-color: #0f6dcc;
    
     a {
         text-decoration: none;
         color: white;
         font-size: 20px;
        }
 a:hover {color: rgb(255, 238, 0);}}
 li:hover {background-color: grey;}}
}
@media (min-width: 360px)
{ul {
    justify-content: center}}

.flex {
     display: flex;
     
      justify-content:center;
      
      flex-wrap: wrap;
    }
.bor {
    border: 1.5px solid black;
    -moz-border-radius: 9px;
    -webkit-border-radius:9px;
    background-color: #0f6dcc;
    color: white;
    text-align: center;
    margin-bottom: 2px;
}

    .bor:hover { background-color: grey;}

    .bor--hover { 
        color: white;
        text-decoration: none;
        }
        

        .bor--hover:hover { 
            color: rgb(255, 238, 0);
            }
        
    
    .mar {
        margin: 5px;
        padding: 5px;
        }

        #cen {
            text-align: center;
        }

.title {
    border: 1.5px solid black;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    background-color: #0f6dcc;
    color: white;
    text-align: center;
    margin-bottom: 2px;
    font-size: 25px;
    font-weight: bold;
}

    .title:hover {
        color: rgb(255, 238, 0);
        background-color: grey;

    }

   .footer {
       position: relative;
       margin-top: 5px 0px;
       clear: both;
       background: #001DFF;
       border-bottom-left-radius: 6px;
       border-bottom-right-radius: 6px;
   }

   .answ {
       font-size: 25px;
       color: blue;
   }

   /*style 404*/

  

  /*Aplicando SASS al proyecto*/


  /*aplicando SCSS a proyecto en un Backoff*/

  /*VARIABLES*/

  $tamano: 200px;
  $largo: 200px;

  .prueba1 {
      background-image: url("../img/fondo.png");
      height: 100vh;
      
  }

  /*Condicionales*/

  $baloncesto: balon;

  .prueba2 {

      @if $largo+250>$tamano {
          border: 2px solid black
      }


      @if $largo==200px {
          background-color: rgba(255, 0, 0, 0.781);
          font-size: ($largo + $tamano)/6;
          text-align: center;
          color: white;


      }

      @else if $largo < 600px {
          background-color: rgba(72, 72, 221, 0.904);
          color: white;
          text-align: center;
          font-size: $tamano/4;
      }

      @else if $largo>600px {
          background-color: rgba(153, 205, 50, 0.884);
          color: rgb(28, 149, 185);
          font-size: $tamano/4;
          text-align: center;
      }



  }

  ;

  /*bucles*/

  /*sin incluir la 4ta linea*/
  @for $tamano from 1 to 4 {
      .Prueba3-#{$tamano} {
          font-size:  40px * $tamano;
          color: whitesmoke;
          text-align: center;
      }
  }

  /*incluyendo la 4ta linea*/
  @for $tamano from 1 through 4 {
      .Prueba4-#{$tamano} {
          width: 100% * $tamano;
          color: whitesmoke;
          font-size: $tamano;
          text-align: center;
      }
  }

  /* Aplicando EACH*/

  @each $deporte in Baloncesto,
  futbol,
  beisbol {
      .#{$deporte} {
          background-image: url('../img/#{$deporte}.jpg');
          height: $tamano;
          color: rgb(47, 255, 92);
          text-align: center;
          font-size: 25px;   
          }

  }

  /*Aplicando MAPAS*/

  $deporte: (baloncesto: blue,
      futbol:green,
      beisbol: orange,
  );

  @each $deporte-color,
  $bgcolor in $deporte {
      .fondo--#{$deporte-color} {
          background-color: $bgcolor;
      }
  }

  /*extend*/

  .prueba {
      color: white;
      text-align: center;
     

  }

  .prueba-extend {
      @extend .prueba;
      font-style: italic;
      text-decoration: underline;
    
  }

  /*noticias*/

  .noticias {
      text-decoration: none;
      color: yellow;
      font-size: 50px; 
  }

  